# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*~

# Env
venv/
env/
ENV/
myvenv/
.env

# Django
db.sqlite3
/staticfiles/
typerek/static/
media/
*.log

# Editors
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db
ehthumbs.db

# Testing
htmlcov/
.tox/
.coverage
*.cover
.cache
.pytest_cache/