{% extends 'typerek/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}
<header class="masthead bg-primary text-white text-center">

<div class="container">
                <h2 class="page-section-heading text-center text-uppercase text-white">Wynik meczu</h2>
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                         </div>

<div class="container">
    <div class="row mt-5 text-dark">
        <div class="col-md-6 offset-md-3">
            <div class="card match-card shadow">
                <div class="card-header bg-primary text-white">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="mb-0 text-center">{{match.team_home_name}}</h4>
                        </div>
                        <div class="col-6 text-center">
                            <h4 class="mb-0">{{match.team_away_name}}</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="team-info mb-4">
                                {% if match.team_home_score == None %}
                                    <h1 class="text-center display-1 font-weight-bold"> - </h1>
                                {% elif match.team_home_score > match.team_away_score %}
                                    <h1 class="text-center display-1 font-weight-bold text-success">{{ match.team_home_score }}</h1>
                                {% elif match.team_home_score < match.team_away_score %}
                                    <h1 class="text-center display-1 font-weight-bold text-danger">{{ match.team_home_score }}</h1>
                                {% else %}
                                    <h1 class="text-center display-1 font-weight-bold">{{ match.team_home_score }}</h1>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="team-info mb-4">
                                {% if match.team_away_score == None %}
                                    <h1 class="text-center display-1 font-weight-bold"> - </h1>
                                {% elif match.team_away_score > match.team_home_score %}
                                    <h1 class="text-center display-1 font-weight-bold text-success">{{ match.team_away_score }}</h1>
                                {% elif match.team_away_score < match.team_home_score %}
                                    <h1 class="text-center display-1 font-weight-bold text-danger">{{ match.team_away_score }}</h1>
                                {% else %}
                                    <h1 class="text-center display-1 font-weight-bold">{{ match.team_away_score }}</h1>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="team-info">
                        <p><i class="fas fa-futbol icon"></i> {{match.extra_bet_name}}: <strong>{% if match.extra_bet_result == None %} - {% else %} {{match.extra_bet_result}} {% endif %}</strong></p>
                        <p><i class="far fa-calendar-alt icon"></i> Data Spotkania: <strong>{{ match.date }}</strong></p>
                        <p><i class="fas fa-comment icon"></i> Uwagi: <strong>{% if match.multiplier > 1 %} Mnożymy punkty razy {{match.multiplier}}! {% else %} {% endif %} </strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


        </header>

{% endblock %}



{% block content %}

        <section class="page-section portfolio" id="portfolio">
            <div class="container">

                {% if can_bet  %}


<h2 class="page-section-heading text-center text-uppercase" style="font-size: 1.8rem;" >TWÓJ TYP</h2>
                    <div class="divider-custom"></div>

<div class="table-responsive">
               <table class="table table-hover text-center ">
  <thead>
    <tr>

      <th scope="col">Wynik</th>
        <th scope="col">{{match.extra_bet_name}}</th>
        <th scope="col">Pewniaczek</th>

    </tr>
  </thead>
  <tbody>

    <tr>
           <td>{% if bet.team_home_score == None or bet.team_away_score == None %} - {% else %}
                                {{match.team_home_name}} {{bet.team_home_score}} - {{bet.team_away_score}} {{match.team_away_name}}
                                {% endif %}</td>
           <td>{% if bet.extra_bet == None %} - {% else %} {{bet.extra_bet}} {% endif %}</td>
           <td>{% if bet.joker == 1 %} Tak {% else %} Nie {% endif %}</td>

    </tr>

  </tbody>
</table>
                </div>


                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon" ><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                    </div>
                <div class="divider-custom"></div>


<h2 class="page-section-heading text-center text-uppercase" style="font-size: 1.8rem;" >Popraw lub obstaw</h2>
<div class="divider-custom"></div>


<form method="POST" class="post-form">{% csrf_token %}

        <div class="controls ">
            <div class="row justify-content-center">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="form_home_name">{{match.team_home_name}} *</label>
                        {{ form.team_home_score|as_crispy_field }}
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="form_away_name">{{match.team_away_name}} *</label>
                        {{ form.team_away_score|as_crispy_field }}
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="form_extra_bet_name">{{match.extra_bet_name}}</label>
                        {{ form.extra_bet|as_crispy_field }}
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="form_joker">Pewniaczek *</label>
                        {{ form.joker|as_crispy_field }}
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary btn-lg">Zapisz</button>
        </div>

    </form>
                {% else %}

                 <div class=" ms-auto text-center"><p class="lead">

                     Ups... Wygląda, że obstawianie jest już zakończone!
                     Wszystkie typy dla tego meczu.

                 </p> </div>

                 <div class="table-responsive">
               <table class="table table-hover text-center">
  <thead>
    <tr>
        <th scope="col">Gracz</th>
      <th scope="col">Wynik</th>
        <th scope="col">{{match.extra_bet_name}}</th>
        <th scope="col">Pewniaczek</th>
        <th scope="col">Punkty</th>

    </tr>
  </thead>
  <tbody>

    {% for b in bet_all_users %}

    <tr>

           <td>{{b.user}}</td>
           <td>{{b.team_home_score}} - {{b.team_away_score}}</td>
           <td>{{b.extra_bet}}</td>
           <td>{% if b.joker == 1 %} Tak {% else %} Nie {% endif %}</td>
           {% if b.status == 2 %} <td>{{b.total}}</td> {% endif %}

    </tr>
    {% endfor %}

  </tbody>
</table>
                </div>


                {% endif %}

                  </div>
        </section>

{% endblock %}

{% block footer %}

                <footer class="footer text-center">
            <div class="container">

                <div class="container">
                <h2 class="page-section-heading text-center text-uppercase text-white">Punkty za mecz</h2>
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                         </div>

<div class="table-responsive">
                    <table class="table table-bordered text-white">
  <thead>
    <tr>
      <th>Bramki</th>
      <th>Zwycięzca</th>
        <th>ExtraBet</th>
        <th>Pewniaczek</th>
        <th>Mnożnik</th>
      <th>Status</th>

    </tr>
  </thead>
  <tbody>
    <tr>

        <td>{% with result=bet.p_home_score|add:bet.p_away_score|add:bet.p_sum_goals %}{{ result }}{% endwith %}</td>
        <td>{{bet.p_result}}</td>
        <td>{{bet.p_extra_bet}}</td>
         <td>{{bet.p_joker}}</td>
        <td>{{match.multiplier}}</td>
      <td>{% if bet.status == 2 %} Przeliczone {% elif bet.status == 1 %} Obstawione {% else %} Do obstawienia {% endif %}</td>

    </tr>
  </tbody>
</table>
</div>
<br>

<div class="container">
                <h2 class="page-section-heading text-center text-uppercase text-white">
                    <a href="{% url 'league' lg=lg %}" style="color:white;">Suma: {{bet.total}} </a></h2>
                         </div>

            </div>
        </footer>

{% endblock %}