{% extends 'typerek/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}
<header class="masthead bg-primary text-white text-center">

            <div class="container d-flex align-items-center flex-column">
                <div class="row justify-content-center">

                    <div class="col-lg-3 "><h2 class="page-section-heading text-right text-uppercase mb-3">{{match.team_home_name}}  </h2></div>
                    <div class="col-lg-3 "><h2 class="page-section-heading text-right text-uppercase mb-3">{{match.team_away_name}}  </h2></div>
                    <div></div>
                    <div class="col-lg-3 "><h2 class="page-section-heading text-right text-uppercase mb-3">{{match.team_home_score}}  </h2></div>
                    <div class="col-lg-3 "><h2 class="page-section-heading text-right text-uppercase mb-3">{{match.team_away_score}}  </h2></div>

                    {% if match.extra_bet_name is not None %}
                    <h4 class="page-section-heading text-center text-uppercase mb-1">{{match.extra_bet_name}} {{match.extra_bet_result}}</h4>
                    {% endif %}


                    <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon" ><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>

                    <div class="row">
                        <p><h5> Twój typ </h5></p>

                         {% if match.extra_bet_name is not None %}
                        <div class="ms-auto" ><p class="lead"><mark> {{match.team_home_name}} {{bet.team_home_score}} - {{bet.team_away_score}} {{match.team_away_name}} // Extra bet: {{bet.extra_bet}} // Pewniaczek: {% if bet.joker == 1 %} TAK {% else %} NIE {% endif %}</mark></p></div>
                        {% else %}
                        <div class="ms-auto" ><p class="lead"><mark> {{match.team_home_name}} {{bet.team_home_score}} - {{bet.team_away_score}} {{match.team_away_name}} // Pewniaczek: {% if bet.joker == 1 %} TAK {% else %} NIE {% endif %}</mark></p></div>
                        {% endif %}

                </div>

                     </div>
            </div>
        </header>

{% endblock %}



{% block content %}

        <section class="page-section portfolio" id="portfolio">
            <div class="container">

                {% if can_bet  %}

<form method="POST" class="post-form">{% csrf_token %}

        <div class="controls">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="form_home_name">{{match.team_home_name}} *</label>
                        {{ form.team_home_score|as_crispy_field }}
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="form_away_name">{{match.team_away_name}} *</label>
                        {{ form.team_away_score|as_crispy_field }}
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                {% if match.extra_bet_name is not None %}
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="form_extra_bet_name">{{match.extra_bet_name}}</label>
                        {{ form.extra_bet|as_crispy_field }}
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                {% endif %}

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="form_joker">Pewniaczek *</label>
                        {{ form.joker|as_crispy_field }}
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary btn-lg">Zapisz</button>
        </div>

    </form>
                {% else %}

                 <div class=" ms-auto text-center"><p class="lead">

                     Obstawianie zakończone! Możesz dokonać zmian <u> najpóźniej dzień przed </u>rozpoczęciem meczu.

                 </p> </div>


                {% endif %}

                  </div>
        </section>

{% endblock %}

{% block footer %}

                <footer class="footer text-center">
            <div class="container">

                <div class="container">
                <h2 class="page-section-heading text-center text-uppercase text-white">Punkty za mecz</h2>
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                         </div>

<div class="table-responsive">
                    <table class="table table-bordered text-white">
  <thead>
    <tr>
      <th>BramkiGosp</th>
      <th>BramkiGość</th>
      <th>BramkiSuma</th>
      <th>Rezultat</th>
        <th>Extra Bet</th>
      <th>Mnożnik</th>
      <th>Pewniaczek</th>
    </tr>
  </thead>
  <tbody>
    <tr>

        <td>{{bet.p_home_score}}</td>
      <td>{{bet.p_away_score}}</td>
      <td>{{bet.p_sum_goals}}</td>
        <td>{{bet.p_result}}</td>
        <td>{{bet.p_extra_bet}}</td>
      <td>{{match.multiplier}}</td>
      <td>{{bet.p_joker}}</td>
    </tr>
  </tbody>
</table>
</div>
<br>

<div class="container">
                <h2 class="page-section-heading text-center text-uppercase text-white">
                    <a href="{% url 'league' lg=lg %}" style="color:white;">Suma: {{bet.total}} </a></h2>
                         </div>

            </div>
        </footer>

{% endblock %}