{% extends 'typerek/base.html' %}
{% load static %}


{% block header %}

<!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
        <h1 class="page-section-heading text-center text-uppercase text-secondary mb-0 text-white">Zasady</h1>
        </header>

{% endblock %}


{% block content %}

        <section class="page-section portfolio" id="portfolio">
            <div class="container">

                <h4 class="page-section text-justify text-secondary mb-0">Twoim zadaniem jest jak najtrafniej wytypować wyniki spotkań.
                <br><br>Liczy się wszystko: trafiona liczba bramek każdej z drużyn, ich suma w meczu, zwycięzca.
                    <br><br>Możesz również zdobyć punkty w dodatkowym zadaniu obstawiając np. rzuty rożne czy kartki.
                    <div style="text-align: center;"><br><img src="{% static 'assets/img/rules_2.gif' %}" width="80%" style="margin: 0 auto;" /></div>
                    <br><br>Nie zastanawiaj się jednak zbyt długo. Zmian można dokonywać najpóźniej dzień przed rozpoczęciem spotkania!
                    <div style="text-align: center;"><br><img src="{% static 'assets/img/rules_1.jpg' %}" width="80%" style="margin: 0 auto;"/></div>
                    <br><br>Może się również zdarzyć, że dany mecz będzie za podwójną stawkę.
                    <br><div style="text-align: center;"><img src="{% static 'assets/img/rules_3.gif' %}" width="80%" style="margin: 0 auto;"/></div>
                    <br>To jednak nie koniec emocji! Masz do dyspozycji kilka pewniaczków, które w razie poprawnego obstawienia zwycięzcy zwiększą Twój dorobek punktowy.
                    Bądź jednak czujny! Każda pomyłka to minusowe punkty.
                    <br><div style="text-align: center;"><img src="{% static 'assets/img/rules_4.jpg' %}" width="30%" style="margin: 0 auto;"/></div>
                    <br><br> Swoje skille możesz śledzić zarówno z poziomu danego spotkania jak i ligi do której jesteś zapisany.
                    <br><br><div style="text-align: center;"><img src="{% static 'assets/img/rules_5.gif' %}" width="80%" style="margin: 0 auto;"/></div>
                    <br><br> Proste? Proste! No to jeszcze rzut oka na punktację...

                </h4>

                <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nazwa</th>
      <th scope="col">Wartość</th>
      <th scope="col">Komentarz</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Home goals</th>
      <td>{{p_home_score}}</td>
      <td>Punkty jeśli trafisz dokładną liczbę bramek dla gospodarza</td>
    </tr>
  <tr>
      <th scope="row">Away goals</th>
      <td>{{p_away_score}}</td>
      <td>Punkty jeśli trafisz dokładną liczbę bramek dla gościa</td>
    </tr>
  <tr>
      <th scope="row">Sum goals</th>
      <td>{{p_sum_goals}}</td>
      <td>Punkty jeśli trafisz łączną liczbę bramek w meczu</td>
    </tr>
  <tr>
      <th scope="row">Result</th>
      <td>{{p_result}}</td>
      <td>Punkty jeśli trafisz zwycięzcę</td>
    </tr>
  <tr>
      <th scope="row">Extra bet</th>
      <td>{{p_extra_bet}}</td>
      <td>Punkty za pytanie dodatkowe</td>
    </tr>
  <tr>
      <th scope="row">Pewniaczek</th>
      <td>{{p_joker}}</td>
      <td>Dodatkowe punkty jeśli trafisz zwycięzcę. W razie pomyłki są odejmowane</td>
    </tr>
  <tr>
      <th scope="row">Max pewniaczki</th>
      <td>{{max_jokers}}</td>
      <td>Liczba pewniaczków które możesz wykorzystac w danej lidze</td>
    </tr>
  </tbody>
</table>






                            </div>
        </section>


{% endblock %}




{% block footer %}
<footer class="footer text-center">
            <div class="container">
                <h3 class="page-section-heading text-center text-uppercase text-white">Przykładowe scenariusze</h3>

                    <h6> Załóżmy, że mamy mecz Real - Barca (mnożnik x1). Skończył się on wynikiem 2 - 1 dla Realu i padły 2 czerwone kartki (extra bet). Wtedy: </h6>
<br><table class="table table-bordered text-white ">
  <thead>
    <tr>
      <th scope="col">Typ</th>
      <th scope="col">Home goals</th>
      <th scope="col">Away goals</th>
      <th scope="col">Sum goals</th>
        <th scope="col">Result</th>
        <th scope="col">Extra bet</th>
        <th scope="col">Pewniaczek</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>2-1 / 2 cz.k. / pewniaczek</td>
        <td style="background-color:green;">V (trafiony)</td>
        <td style="background-color:green;">V</td>
        <td style="background-color:green;">V</td>
        <td style="background-color:green;">V</td>
        <td style="background-color:green;">V</td>
        <td style="background-color:green;">V</td>
    </tr>
   <tr>
      <td>2-2 / 1 cz.k. / bez pewniaczka</td>
        <td style="background-color:green;">V</td>
        <td style="background-color:red;">X (pudło)</td>
        <td style="background-color:red;">X</td>
        <td style="background-color:red;">X</td>
        <td style="background-color:red;">X</td>
        <td style="background-color:blue;">-</td>
    </tr>
   <tr>
      <td>0-1 / 2 cz.k. / bez pewniaczka</td>
        <td style="background-color:red;">X</td>
        <td style="background-color:green;">V</td>
        <td style="background-color:red;">X</td>
        <td style="background-color:red;">X</td>
        <td style="background-color:red;">X</td>
        <td style="background-color:blue;">-</td>
    </tr>
     <tr>
      <td>3-0 / 0 cz.k. / bez pewniaczka</td>
        <td style="background-color:red;">X</td>
        <td style="background-color:red;">X</td>
        <td style="background-color:green;">V</td>
        <td style="background-color:green;">V</td>
        <td style="background-color:red;">X</td>
        <td style="background-color:blue;">-</td>
    </tr>
     <tr>
      <td>4-1 / 0 cz.k. / pewniaczek</td>
        <td style="background-color:green;">V</td>
        <td style="background-color:red;">X</td>
        <td style="background-color:red;">X</td>
        <td style="background-color:green;">V</td>
        <td style="background-color:red;">X</td>
        <td style="background-color:green;">V</td>
    </tr>
  <tr>
      <td>2-4 / 2 cz.k. / pewniaczek</td>
        <td style="background-color:green;">V</td>
        <td style="background-color:red;">X</td>
        <td style="background-color:red;">X</td>
        <td style="background-color:red;">X</td>
        <td style="background-color:green;">V</td>
        <td style="background-color:red;">X (minusowe punkty)</td>
    </tr>
    <tr>
      <td>0-0 / 3 cz.k. / pewniaczek</td>
        <td style="background-color:red;">X</td>
        <td style="background-color:red;">X</td>
        <td style="background-color:red;">X</td>
        <td style="background-color:red;">X</td>
        <td style="background-color:red;">X</td>
        <td style="background-color:red;">X </td>
    </tr>

  </tbody>
</table>

<h6> *W przypadku kiedy mnożnik spotkania jest inny niż 1, przemnożona zostaje tylko suma (składowe bez zmian). </h6>

                         </div>
        </footer>

{% endblock %}