{% extends 'typerekv3/base.html' %}
{% load static %}


{% block content %}



         <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-md-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Lista wszystkich pytań do lig</h3>
                  {% if access %} <h6 class="font-weight-normal mb-0">
                    Lista wyświetla wszystkie nieprzeliczone/niezamknięte pytania do lig (status = 0). Możesz również dodać nowy.
                    </span></h6>
                </div>
                  <div class="col-md-4 mb-4 mb-xl-0 d-flex justify-content-end align-items-start">
                      <a href="{% url 'add_question' %}" style="color: inherit; text-decoration: none;"" style="color: inherit; text-decoration: none;"><button type="button" class="btn btn-primary btn-rounded btn-fw">Dodaj nowy </button> </a> {% endif %}
                    </div>
              </div>
            </div>
          </div> 
		
		<div class="row">
            <div class="col-md-12 stretch-card grid-margin">
              <div class="card">
                <div class="card-body">
                  <p class="card-title mb-4"></p>
                  <div class="table-responsive">
                    <table class="table table-borderless table-sm w-100">
                      <thead>
                        <tr>
                          <th class="border-bottom pb-2" style="position: sticky; left: 0;  z-index: 2; background: white ">Pytanie</th>
						  <th class="border-bottom pb-2">Liga</th>
						  <th class="border-bottom pb-2">Data</th>
                            {% if access %}
                            <th class="border-bottom pb-2"> </th> {% endif %}

                        </tr>
                      </thead>
                      <tbody>
					  
						{% for question in questions %}
						<tr>
						<td style="position: sticky; left: 0;  z-index: 1; background: white;"><p class="pl-0">{{question}}</td>
						<td class="text-muted">{{question.league}}</td>
						<td class="text-muted">{{question.date}}</td>
                             {% if access %}
                            <td class="text-muted"> <a href="{% url 'edit_question' question.id %}"> Edytuj </a> </td> {% endif %}
						</tr>
						{% endfor %}
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            
          </div>
		  
{% endblock %}
	